.git
.gitignore
.dockerignore
.gitlab-ci.yml
node_modules
coverage
config
scripts
.editorconfig
.eslintrc
.jshintrc
.nvmrc
.yarnrc
karma.conf.js
Makefile
package-lock.json
README.md
sonar-project.properties
sonarlint.json
yarn.lock
